@import "../../contants/style/colors.scss";

.sidebar-item-container {
  margin: 0.5rem 0;
  height: 3rem;
  border-radius: 10px;
  width: 90%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-decoration: none;
  transition: 0.2s ease-in;
  &:hover {
    background-color: $primary;
  }

  .sidebar-item-text {
    font-size: 14px;
    font-weight: 500;
  }
  &:hover .sidebar-item-text {
    color: white;
  }
  .sidebar-item-step {
    margin-right: 10px;
    background: rgba(199, 199, 199, 0.659);
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      color: $primary;
    }
    img {
      width: 20px;
    }
  }
}

.active {
  background-color: $primary;
  background: linear-gradient(
    318deg,
    rgba(127, 35, 207, 1) 0%,
    rgba(62, 8, 175, 0.8954175420168067) 100%
  );
  color: white;
  .sidebar-item-step {
    background: #fff;
    color: $primary;
  }
}
