@import "../../contants/style/colors.scss";

.project-item-container {
  width: 300px;
  height: 130px;
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  -webkit-box-shadow: 23px 27px 17px -24px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 23px 27px 17px -24px rgba(0, 0, 0, 0.26);
  box-shadow: 23px 27px 17px -24px rgba(0, 0, 0, 0.26);
  border: 1px solid rgba(0, 0, 0, 0.071);
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  .project-item-profile {
    width: 40%;
    height: 90%;
    margin: 0 2.5%;
    background-color: $primary;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 35px;
      color: #fff;
    }
  }
  .project-item-content {
    padding-left: 10px;
    h4 {
      font-size: 15px;
    }
    p {
      font-size: 12px;
    }
    .project-item-date {
      margin-top: 1rem;
      color: rgba(128, 128, 128, 0.818);
    }
  }
}
