@import "../../contants/style/colors.scss";
.sidebar-container {
  width: 20%;
  height: 100vh;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .sidebar-route-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
