@import "../../contants/style/colors.scss";
.title-container {
  width: 100%;
  min-height: 10vh;
  //   background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    color: $primary;
  }
  p {
    font-size: 14px;
    max-width: 80%;
    margin: 0.8rem 0;
    color: #4b4a4a;
  }
}
