@import "../../styles/common.scss";
.upload-container {
  width: 100%;
  min-height: 93vh;
  @include nav-padding;
  .upload-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
