@import "../../styles/common.scss";

.navbar-container {
  position: fixed;
  min-width: 100%;
  top: 0;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 7;
  @include nav-padding;
}
.navbar-icons {
  display: flex;
  .navbar-icon {
    width: 20px;
    margin-left: 20px;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
