@import "../../styles/common.scss";
.createprojects-container {
  width: 100%;
  height: 93vh;
  display: flex;
  // padding-top: 50vh;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  @include nav-padding;
  .createproject-image {
    width: 300px;
    margin-bottom: 2rem;
    margin-top: 10vh;
  }
  h3 {
    font-size: 28px;
  }
  .createproject-desc {
    font-size: 15px;
    max-width: 50%;
    margin: 0.8rem 0;
    text-align: center;
    color: #767676;
  }
}

.createproject-backbtn{
  width: 100%;
}
